
@import "components/aside";
@import "components/buttons";
@import "components/forms";
@import "components/typography";


body{
  font-family: poppins,sans-serif;
  font-size: 1rem;
  word-break: break-word;
  font-weight: 400;
}

