.drawer {
  --aside-width: 24rem;
  --aside-content-padding: var(--aside-width);
  --aside-pos-x: 0;
  --speed: 0.2s;
  --backdrop-state: none;
  height: calc(100dvh - 74px);
  overflow: hidden;
  position: relative;

  &-backdrop {
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: var(--speed);
    display: var(--backdrop-state);
  }

  @media(max-width: 1199px) {
    --aside-content-padding: 0;
    &:not(.open) {
      --aside-pos-x: calc(0px - var(--aside-width));
    }
    &.open {
      --backdrop-state: block;
    }
  }

  &-container {
    height: inherit;
    transition: var(--speed);
    padding-left: var(--aside-content-padding);
  }

  &-aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: var(--aside-width);
    max-width: 90%;
    height: inherit;
    background: #fff;
    border-right: 1px solid var(--bs-border-color);
    transition: var(--speed);
    transform: translateX(var(--aside-pos-x));

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;

      a {
        color: var(--bs-secondary);
      }

      @media(min-width: 1200px) {
        display: none;
      }
    }
  }

  &-content {
    padding: 48px;
    height: inherit;
    overflow: auto;
    position: relative;
    z-index: 1;

    &-close {
      a {
        color: var(--bs-secondary);
      }

      @media(min-width: 1200px) {
        display: none;
      }
    }
  }

  &-menu-title {
    margin: 2.5rem 2rem;
    font-size: 1.75rem;
    font-weight: 900;
  }

  &-menu {
    a {
      display: block;
      padding: 1.25rem 2rem;
      line-height: 1.5rem;
      border-bottom: 1px solid var(--bs-border-color);

      &:first-child {
        border-top: 1px solid var(--bs-border-color);
      }

      &:hover {
        background-color: #f1f5f9;
      }

      &.active {
        background-color: #eef2ff;

        i,
        b {
          color: var(--bs-primary);
        }
      }
    }

    b {
      font-size: .875rem;
      font-weight: 500;
      color: var(--bs-dark);
    }

    p {
      font-size: .875rem;
      color: var(--bs-secondary);
    }

    i {
      font-size: 24px;
      color: rgba(var(--bs-secondary-rgb), .7);
    }


  }

}



